In [25]:
import pandas as pd
import numpy as np

In [26]:
# The code was removed by Watson Studio for sharing.

   key Postal code           Borough     Neighbourhood
0    1         M1A      Not assigned      Not assigned
1    2         M2A      Not assigned      Not assigned
2    3         M3A        North York         Parkwoods
3    4         M4A        North York  Victoria Village
4    5         M5A  Downtown Toronto      Harbourfront

IGNORE CELLS WITH VALUE = NOT ASSIGNED IN BOROUGH COLUMN

In [27]:
df_data_0.drop(df_data_0.loc[df_data_0['Borough']=="Not assigned"].index, inplace=True)

In [28]:
df_data_0.head()

   key Postal code           Borough     Neighbourhood
2    3         M3A        North York         Parkwoods
3    4         M4A        North York  Victoria Village
4    5         M5A  Downtown Toronto      Harbourfront
5    6         M6A        North York  Lawrence Heights
6    7         M6A        North York    Lawrence Manor

In [29]:
df_data_0.drop(['key'], axis=1, inplace=True)
df_data_0.head()

  Postal code           Borough     Neighbourhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor

NEIGHBOURHOOD COLUMN GROUPED BY POSTAL CODE AND VALUES SEPERATED WITH A COMMA

In [30]:
df1=df_data_0.groupby(df_data_0['Postal code'])['Neighbourhood'].apply(', '.join).reset_index()
df1.head()

  Postal code                           Neighbourhood
0         M1B                          Rouge, Malvern
1         M1C  Highland Creek, Rouge Hill, Port Union
2         M1E       Guildwood, Morningside, West Hill
3         M1G                                  Woburn
4         M1H                               Cedarbrae

BOROUGH COLUMN GROUPED BY POSTAL CODE AND VALUES SEPERATED BY "_"

In [7]:
df2=df_data_0.groupby(df_data_0['Postal code'])['Borough'].apply('_'.join).reset_index()
df2.head()

  Postal code                              Borough
0         M1B              Scarborough_Scarborough
1         M1C  Scarborough_Scarborough_Scarborough
2         M1E  Scarborough_Scarborough_Scarborough
3         M1G                          Scarborough
4         M1H                          Scarborough

MERGED TWO DATAFRAMES FOR FINAL RESULT

In [31]:
df3=pd.merge(df2, df1, on="Postal code")
df3.head()

,Postal code,Borough,Neighbourhood
0,M1B,Scarborough_Scarborough,"Rouge, Malvern"
1,M1C,Scarborough_Scarborough_Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,Scarborough_Scarborough_Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae

DELETED EXTRA, REPEATED VALUES FROM BOROUGH COLUMN CELLS

In [32]:
df3["Borough"]= df3["Borough"].str.split("_", n = -1, expand = True)

In [33]:
df3.tail(10)

,Postal code,Borough,Neighbourhood
93,M9A,Queen's Park,Not assigned
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

REPLACED BOROUGH COLUMN'S VALUE TO NEIGHBOURHOOD COLUMN'S NOT ASSIGNED VALUE

In [35]:
df3['Neighbourhood'][93]="Queen's Park"
df3.tail(10)

,Postal code,Borough,Neighbourhood
93,M9A,Queen's Park,Queen's Park
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

In [38]:
df3.head(10)

  Postal code      Borough                                    Neighbourhood
0         M1B  Scarborough                                   Rouge, Malvern
1         M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7         M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8         M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

SHAPE OF FINAL DATAFRAME df3 - (rows, columns)

In [39]:
print(df3.shape)

(103, 3)